/* Reset some default styles to remove margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background: rgb(239, 188, 133); /* Transparent black background */
    color: #000000; /* Text color */

}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
    max-width: 100px; /* Adjust the logo size as needed */
    width: 100%;
}

.w3-container{
    background-color: #00000000;

}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 50px;
    font-size: 50px;
}

nav a {
    text-decoration: none;
    color: #000000;
}


/*For my menu Table*/
.container {
  display: flex;
  width:100%;
}

.menu {
  width: 200px;
  background-color: #eeb161;
  padding: 10px;
  text-align: center;

}

.menu a{
  text-decoration: none;
  text-align: center;
}

.menu button {
display: block;
margin-bottom: 10px;
padding: 20px;
height: 7%;
text-align: center;
width: 100%;
background-color: #ebd751;
}



.container table td{
  transition:transform 0.8s;
  /*这个让我们content从top开始，而不是从center*/
  vertical-align: top;

}

.container table td:hover{
  transform: scale(1.2);
}


.container table img{

  width: 100%;
  height: 100%;
}

.container table font h3,p{
  font-size: auto;
  width: 100%;
  height: 100%;
}







/* Style the footer */
footer {
    background-color: #e8c585;
    color: #ffffff;
    margin-right: 50px;
    width:100%;
    height:auto;


}

.special table{
  max-width: 100%;
  width:100%;
}
.special table th, td {
  width: 25%;
}


