/* 页眉样式 */
header {
    background-color: #252525;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* 页脚样式 */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* 调整内容区域的高度 */
  .container {
    display: flex;
    min-height: calc(100vh - 40px); /* 40px是页眉和页脚的总高度 */
  }
  
  