/* Reset some default styles to remove margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background: rgb(239, 188, 133); /* Transparent black background */
    color: #000000; /* Text color */

}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
    max-width: 100px; /* Adjust the logo size as needed */
}

.w3-container{
    background-color: #00000000;

}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 50px;
    font-size: 50px;
}

nav a {
    text-decoration: none;
    color: #000000;
}


/*For my menu Table*/
.container {
    display: flex;
    width:100%;
  }
  
  .menu {
    width: auto;
    background-color: #eeb161;
    padding: 20px;

   

  }
  
  .menu button {
    display: block;
    margin-bottom: 10px;
    height: 100px;
    width: 130px;
    background-color: #ebd751;
  }

table td{
    transition:transform 0.8s;
}

  table td:hover{
    transform: scale(1.2);
  }











/* Style the footer */
footer {
    background-color: #e8c585;
    color: #ffffff;
    margin-right: 50px;
    width:100%;
    height:auto;

}
